body{
	padding: 0px;
	margin: 0px;
	font-family: consolas;
	color: #555;
}
a{
	text-decoration: none;
	color: #555;
}
header{
	height: 10%;
	width: 96%;
	background: #fff;
	color: #555;
	font-size: 2em;
	padding: 2%;
}
#sub_items{
	float: right;
	font-size: .5em;
	width: 50%;
	text-align: right;
}
#sub_items a{
	padding-left: 5%;
}
#body{
	width: 100%;
	height: 100%;
}
#contact{
	margin: auto;
	width: 50%;
	height: 500px;
	max-height: 80%;
	box-shadow: 0px 0px 10px 5px #efefef;
}
.txt{
    width: 80%;
    min-height: 20%;
    height: 2em;
    margin-top: 1em;
    padding-left: 1em;
}
#message{
	width: 80%;
    height: 230px;
    min-height: 50%;
    margin-top: 1em;
    padding-left: 1em;
    resize: none;
}
input[name=submit]{
	width: 20%;
    min-height: 20%;
    height: 2em;
    margin-top: 1em;
    background: #fff;
    color: #555;
    font: 1em consolas;
    border: 1px solid #555;
}
@media screen and (max-width: 750px){
	#contact{
		width: 90%;
	}
}
