body{
	padding: 0px;
	margin: 0px;
	font-family: consolas;
}
a{
	text-decoration: none;
	color: #555;
}
header{
	height: 10%;
	width: 96%;
	background: #fff;
	color: #555;
	font-size: 2em;
	padding: 2%;
}
#sub_items{
	float: right;
	font-size: .5em;
	width: 50%;
	text-align: right;
}
#sub_items a{
	padding-left: 5%;
}
#body{
	width: 100%;
	height: 100%;
}
#work_area{
	width: 96%;
	height: 100%;
	padding: 0% 2%;
}
.work_img{
	width: 50%;
	height: 50%;
	float: left;
	margin: 0px;
	line-height: 50%;
}
.work_img img{
	width: 100%;
	height: 100%;
}
@media screen and (max-width: 600px){
	.work_img{
		float: center;
		width: 100%;
	}
}
.grey{
	width: 96%;
	margin: 2%;
	text-align: center;
	padding-top: 100px;
	padding-bottom: 100px;
	background: #efefef;
	color: #555;
	font-size: 2em;
	float: left;
	white-space: pre-line;
}
#me{
	border-radius: 50%;
	width: 10vw;
}
@media screen and (max-width: 900px){
	#me{
		width: 30vw;
	}
}
#white{
	width: 96%;
	margin: 2%;
	text-align: center;
	background: #fff;
	color: #555;
	padding: 5% 0%;
	font-size: 1.5em;
	float: left;
}
.project img{
	width: 50%;
}
@media screen and (max-width: 800px){
	.project img{
		width: 100%;
	}
	
}
#contact{
	margin: auto;
	font-size: 0.5em;
	width: 50%;
	max-height: 80%;
	background: #fff;
	box-shadow: 0px 0px 10px 5px #efefef;
}
.txt{
    width: 80%;
    min-height: 20%;
    height: 2em;
    margin-top: 1em;
    padding-left: 1em;
}
#message{
	width: 80%;
    height: 230px;
    min-height: 50%;
    margin-top: 1em;
    padding-left: 1em;
    resize: none;
}
input[name=submit]{
	width: 20%;
    min-height: 20%;
    height: 2em;
    margin-top: 1em;
    background: #fff;
    color: #555;
    font: 1em consolas;
    border: 1px solid #555;
}
@media screen and (max-width: 750px){
	#contact{
		width: 90%;
	}
}