@import url(https://fonts.googleapis.com/css?family=Raleway:200,300,600);
*{
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	font-family: Raleway;
	color: #111;
	background: #efefef
}
a {
	color: #111;
	text-decoration: none;
}
h1 {
	font-size: 3em;
	margin: 0.5em 0 0.2em 0;
}


/* Header */
header {
	text-align: center;
	position: fixed;
	top: 0;
	width: 100%;
	transition: 0.5s;
	background: #efefef;
	z-index: 2;
}
#links {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.link-icon {
	width: 25px;
	height: auto;
	margin: 2vh;
}
#logo {
	display: none;
	font-size: 2.5em;
	font-weight: bold;
	margin: 0 2vh;
	line-height: 10vh;
}
#description {
	font-weight: normal;
	margin: 0;
}
/* Header */


/* Body */
#body{
	margin-top: 30vh;
}
#timeline {
	position: relative;
	max-width: 1200px;
	margin: 0 auto;
}
#timeline::after {
	content: '';
	position: absolute;
	width: 1px;
	background-color: #ccc;
	top: 0;
	bottom: 0;
	left: 50%;
	margin-left: -3px;
}
.container {
	padding: 10px 40px;
	position: relative;
	background-color: inherit;
	width: 50%;
}
.container::after {
	content: '';
	position: absolute;
	width: 10px;
	height: 10px;
	right: -3px;
	background-color: #555;
	top: 26px;
	border-radius: 50%;
	z-index: 1;
}
.left {
	left: 0;
}
.right {
	left: 50%;
}
.left::before {
	content: " ";
	height: 0;
	position: absolute;
	top: 22px;
	width: 0;
	z-index: 1;
	right: 30px;
	border: medium solid #555;
	border-width: 10px 0 10px 10px;
	border-color: transparent transparent transparent #555;
}
.right::before {
	content: " ";
	height: 0;
	position: absolute;
	top: 22px;
	width: 0;
	z-index: 1;
	left: 30px;
	border: medium solid #555;
	border-width: 10px 10px 10px 0;
	border-color: transparent #555 transparent transparent;
}
.right::after {
	left: -7px;
}
.content {
	padding: 0;
	background-color: white;
	position: relative;
	border-radius: 6px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 0 1px 0 rgba(0,0,0,0.2);
}
.content-img{
	width: 100%;
	height: auto;
	border-radius: 6px 6px 0 0;
}
.content h2 {
	padding: 0 2vw;
}
.technologies {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	padding: 0 2vw;
}
.technology {
	background: #efefef;
	border-radius: 15px;
	padding: 5px 10px;
	margin-right: 5px;
}
/* Body */


@media screen and (max-width: 600px) {
	#description, #name {
		display: none !important;
	}
	#logo {
		display: inline !important;
	}
	#body {
		margin-top: 10vh;
	}
	header {
		box-shadow: 0 0 10px 0 rgba(0,0,0,.4) !important;
	}
	#timeline::after {
		left: 31px;
	}
	.container {
		width: 100%;
		padding-left: 70px;
		padding-right: 25px;
	}
	.container::before {
		left: 60px;
		border: medium solid #555;
		border-width: 10px 10px 10px 0;
		border-color: transparent #555 transparent transparent;
	}
	.left::after, .right::after {
		left: 24px;
	}
	.right {
		left: 0%;
	}
}
