@import url(https://fonts.googleapis.com/css?family=Raleway:200,300,800);
body {
	padding: 0px;
	margin: 0px;
	font-family: Raleway;
	background: #efefef;
	color: #222;
	overflow-x: hidden;
}
a {
	color: inherit;
	text-decoration: none;
}

header {
	background-color: #333;
	position: fixed;
	top: -50px;
	width: 100%;
	height: 50px;
	transition: top 0.3s;
}
#logo {
	height: 50px;
	width: 50px;
}
#body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
/* Hero */
#hero {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #222;
	height: 100vh;
}
#hero-title {
	font-size: 4em;
	font-weight: 800;
	text-align: center;
}
#hero-description {
	text-align: center;
}
#hero-links {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.link-icons {
	padding: 2vh;
	height: 25px;
	width: 25px;
}
/* Hero */

/* Projects */
#projects {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	max-width: 2500px;
}
.project {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	background: #fff;
	padding: 0;
	margin: 3vw;
	transition: 0.5s;
	width: 300px;
	max-width: 90vw;
	border-radius: 10px;
}
.project:hover {
	color: #000;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.project-img {
	width: 100%;
	height: 250px;
	border-radius: 10px 10px 0 0;
}
.project-name {
	margin: 15px;
}
.project-tags {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	margin: 0 15px;
	height: 102px;
}
.tag {
	padding: 5px 15px;
	margin: 0 5px 5px 0;
	border-radius: 15px;
	background: #efefef;
}
.project-info {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 15px;
}
.project-info a {
	margin-right: 25px; 
}
/* Projects */

/* Contacts */
#contact {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	min-height: 800px; 
	max-width: 2500px;
	flex: 1;
	margin-top: 50px;
}
#contact-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 500px;
	min-width: 55vw;
	max-width: 100vw;
	background: #fff;
	text-align: center;
	flex-grow: 1;
}
#contact-info h1 {
	font-size: 3em;
}
#contact-info p {
	width: 550px;
	max-width: 90%;
}
#contact-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-width: 40vw;
	max-width: 100vw;
	flex-grow: 1;
}
.text {
	background: #fff;
	border: 0;
	outline: 0;
	padding: 10px 20px;
	width: 200px;
	min-width: 70%;
	max-width: 100%;
	margin-bottom: 1em;
	font-family: Raleway;
	font-size: 1em;
}
input {
	height: 2em;
}
textarea {
	height: 10em;
	resize: none;
}
#submit {
	background: transparent;
	height: auto;
	outline: 0;
	border: 3px solid #777;
    color: #777;
    padding: 0.5em;
    font-size: 1.5em;
    transition: 0.2s;
}
#submit:hover {
	border-color: #222;
	color: #222;
}
/* Contacts */