body{
	padding: 0px;
	margin: 0px;
	font-family: consolas;
}
a{
	text-decoration: none;
	color: #555;
}
header{
	height: 10%;
	width: 96%;
	background: #fff;
	color: #555;
	font-size: 2em;
	padding: 2%;
}
#sub_items{
	float: right;
	font-size: .5em;
	width: 50%;
	text-align: right;
}
#sub_items a{
	padding-left: 5%;
}
#body{
	width: 100%;
	height: 100%;
}
#websites{
	margin: 2%;
	width: 96%;
}
.project{
	width: 100%;
	height: 400px;
	margin-bottom: 5%;
}
.project img{
	height: 100%;
	width: 50%;
}
.txt{
	margin-top: 10%;
	float: right;
	width: 40%;
}
@media screen and (min-width: 1800px){
	.project img{
		width: 40%;
	}
}
@media screen and (max-width: 800px){
	.project{
		height: 300px;
	}
}
@media screen and (max-width: 550px){
	.project img{
		width: 100%;
	}
	.txt{
		margin-top: 0px;
		margin-bottom: 10%;
		width: 100%;
	}
	h4{
		margin-top: 0px;
	}
}
a[title="Free server"]{
	display:none;
}